services:

  backend:
    build: .
    container_name: mini_blog_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    container_name: mini_blog_redis 
    ports:
      - "6379:6379" 
    restart: always

